{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TMS</title>
    <!-- bootstrp CSS  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <link rel="stylesheet" href="{% static 'tms/css/tms.css' %}" type="text/css">
</head>
<body>
    <nav class="navbar fixed-top navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{% static 'tms/img/logo.png' %}" alt="" width="30" height="24" class="d-inline-block align-text-top">
                
            </a>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#queryModal">
                Make a Query 
            </button>
      
        </div>
        
    </nav>
    
    <main>
        <div id="myGrid" style="width:100%;height:500px;"></div>
    </main>

    <!-- Query Modal -->
    <div class="modal fade" id="queryModal" tabindex="-1" aria-labelledby="queryModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg  modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="queryModalLabel">Make a Query</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row ms-1">
                        <div class="col-6">
                            <div class="row">
                                <select class="form-select form-select-sm" id="select-product" aria-label="Default select">
                                    <option selected value="0">Select Product</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <select class="form-select form-select-sm" size="6" id="select-release" multiple aria-label="multiple select">
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3 ms-1 mb-3 me-1">
                        <button type="button" class="btn btn-primary" id="btn-add-fw-rel">Add selected to the list below</button>
                    </div>
                    <div class="row m-2">
                        <table class="table table-striped table-sm" id="table-fw-rel">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Product</th>
                                    <th scope="col">Fw Version</th>
                                    <th scope="col">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                            
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btn-cancel">Cancel</button>
                    <button type="button" class="btn btn-primary" id="btn-get-data">Get Data</button>
                </div>
            </div>
        </div>
    </div>

    <!-- bootstrap JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    <!--<script src="{% static 'tms/js/tms.js' %}"></script>-->
    <script src="{% static 'tms/js/tms2.js' %}"></script>

</body>
</html>